

.toolsVisibles
{
	float:right;
	display:inline-block;
}

.chose-image
{
	width: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.chose-image-list
{
	width: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.chosen-container-multi .chosen-choices li.search-choice
{
		background :white
}

.chosen-container-multi .chosen-choices
{
	background :white;
}

.chosen-container
{
	width: 100%;
}


#formulario
{
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 30px;
  margin: 10px 0px;
}


#indicador 
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    
}

.table-data__tool {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 28px;
}

.au-btn-filter {
    font-size: 14px;
    color: #808080;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 0 15px;
    line-height: 40px;
    text-transform: capitalize;
}

.table-data__tool .table-data__tool-left > div {
    margin-right: 12px;
}
.rs-select2--light {
    display: inline-block;
}
.rs-select2--md {
    width: 160px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e8e8e8;
}

.invalid-feedback
{
	color: #dd4b39 !important;
}

.notificacion {
    position: relative;
    top: -6px;
    right: 4px;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.notificacionTarea {
    position: relative;
    top: -6px;
    right: 4px;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}